<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="6" package="com.orange.atk.monitor" android:versionName="2.7">
	<application android:label="ATK Monitor" android:debuggable="true" android:icon="@drawable/icon">		
		<activity android:name="com.orange.atk.monitor.client.ATKMonitorClient">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />			
                <action android:name="com.orange.atk.monitor.CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<service android:name="com.orange.atk.monitor.service.ATKMonitorService">
			<intent-filter>
				<action android:name="com.orange.atk.monitor.MONITOR" />
			</intent-filter>
		</service>
		<receiver android:name="com.orange.atk.monitor.ATKMonitorServiceStartup">
			<intent-filter>
                <action android:name="com.orange.atk.monitor.MONITORSTARTUP" />
			</intent-filter>
		</receiver>
	</application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-sdk android:minSdkVersion="3"/>
</manifest>
