<?xml version="1.0" encoding="UTF-8"?>

<confile>
  <aro enabled="true"/>
  <graphlist>
    <graph name="Storage" color="blue" unit="KBytes" scale="1" sampled="true"/>
    <graph name="SDCard" color="pink" unit="KBytes" scale="1" sampled="true"/>
    <graph name="Memory" color="red" unit="KBytes" scale="1" sampled="true"/>
    <graph name="Cpu" color="cyan" unit="%" scale="1" sampled="true"/>
    <graph name="Battery" color="orange" unit="%" scale="1" sampled="true"/>
    <graph name="Power" color="green" unit="mW" scale="1" sampled="true"/>
    <graph name="Data received" color="gray" unit="KBytes" scale="1000" sampled="true"/>
    <graph name="Data sent" color="magenta" unit="KBytes" scale="1000" sampled="true"/>
  </graphlist>
  <markerlist>
    <marker name="keyPress" color="gray" position="0.2"/>
    <marker name="log" color="gray" position="0.4"/>
    <marker name="Action" color="gray" position="0.5"/>
    <marker name="Standard Out/Err" color="gray" position="0.7"/>
    <marker name="ScreenShot" color="gray" position="0.9"/>
    <marker name="Error JATK" color="gray" position="0.9"/>
    <marker name="Monkey" color="gray" position="0.9"/>
    <marker name="URL" color="gray" position="0.9"/>
  </markerlist>
</confile>