html {
    margin: 0;
    padding: 0;
    }
body { 
    font: 75% arial, sans-serif;
    line-height: 1.5;
    color: #555753; 
    background: #fff; 
    }

div#menu {
width: 220px;
height: 98%;
//background:#9dcbf9;
//border:2px solid #7ea7d2;
position:fixed;
top: 10px;
_position: absolute;
left: 2px;
top: expression(body.scrollTop  + 10 + "px")
}
#menu h2,#theme h2{
border-color:#f90;
border-style:solid;
border-width:0 0 3px 0;
font-size:medium;
font-weight:700;
margin:5;
padding-left:0em;
text-transform:uppercase;
}

#menu ul,#theme ul{
margin-bottom:1.5em;
margin-top:0.5em;
}

#menu li,#theme li,#ressources li{
display:inline;
list-style:none;
}

#menu a,#theme a{
color:#f60;
background-color:transparent;
display:block;
font-weight:700;
margin-left:-3em;
padding-left:1em;
text-decoration:none;
}

#menu a:hover,#theme a:hover{
background-color:#ffecce;
color:#f60;
}

div#content {
margin-left:250px;
}

h1 {
background-color:#ffecce;
font-size:30px;
font-weight:700;
text-transform:uppercase;
text-align : center;
width:100%;
}

p {
font-size:14px;
font-weight:bold;
}

#cmd {
font-family:'Courier New, Arial';
font-weight:bold;
color:#0080ff;
}